#grid_39a862c7569f {
	display: block;
	position: relative;
	width: 100%;
	max-width: -40px;
}
carbon-grid > carbon-item {
	display: block;
	position: absolute;
}
@media (max-width: 600px) {
	#grid_39a862c7569f:before {
		display: block;
		padding-top: 100%;
		content: '';
	}
	#grid_39a862c7569f:after {
		display: block;
		padding-top: 220.000%;
		content: '';
	}
	#el_39a862c7569f_0 { 
		top:0%;
		left:0%;
		width:100%;
		height:23.438%;
	}
	#el_39a862c7569f_1 { 
		top:25.521%;
		left:0%;
		width:100%;
		height:23.438%;
	}
	#el_39a862c7569f_2 { 
		top:51.042%;
		left:0%;
		width:100%;
		height:23.438%;
	}
	#el_39a862c7569f_3 { 
		top:76.563%;
		left:0%;
		width:100%;
		height:23.438%;
	}
}
@media (min-width: 601px) and (max-width: 1499px) {
	#grid_39a862c7569f:after {
		display: block;
		padding-top: 76.042%;
		content: '';
	}
	#el_39a862c7569f_0 { 
		top:0%;
		left:0%;
		width:47.917%;
		height:47.26%;
	}
	#el_39a862c7569f_2 { 
		top:52.74%;
		left:0%;
		width:47.917%;
		height:47.26%;
	}
	#el_39a862c7569f_1 { 
		top:0%;
		left:52.083%;
		width:47.917%;
		height:47.26%;
	}
	#el_39a862c7569f_3 { 
		top:52.74%;
		left:52.083%;
		width:47.917%;
		height:47.26%;
	}
}
@media (min-width: 1500px) and (max-width: 1999px) {
	#grid_39a862c7569f:after {
		display: block;
		padding-top: 50.000%;
		content: '';
	}
	#el_39a862c7569f_0 { 
		top:0%;
		left:0%;
		width:31.507%;
		height:47.26%;
	}
	#el_39a862c7569f_3 { 
		top:52.74%;
		left:0%;
		width:31.507%;
		height:47.26%;
	}
	#el_39a862c7569f_1 { 
		top:0%;
		left:34.247%;
		width:31.507%;
		height:47.26%;
	}
	#el_39a862c7569f_2 { 
		top:0%;
		left:68.493%;
		width:31.507%;
		height:47.26%;
	}
}
@media (min-width: 2000px) and (max-width: 2499px) {
	#grid_39a862c7569f:after {
		display: block;
		padding-top: 17.602%;
		content: '';
	}
	#el_39a862c7569f_0 { 
		top:0%;
		left:0%;
		width:23.469%;
		height:100%;
	}
	#el_39a862c7569f_1 { 
		top:0%;
		left:25.51%;
		width:23.469%;
		height:100%;
	}
	#el_39a862c7569f_2 { 
		top:0%;
		left:51.02%;
		width:23.469%;
		height:100%;
	}
	#el_39a862c7569f_3 { 
		top:0%;
		left:76.531%;
		width:23.469%;
		height:100%;
	}
}
@media (min-width: 2500px) {
	#grid_39a862c7569f:after {
		display: block;
		padding-top: 14.024%;
		content: '';
	}
	#el_39a862c7569f_0 { 
		top:0%;
		left:0%;
		width:18.699%;
		height:100%;
	}
	#el_39a862c7569f_1 { 
		top:0%;
		left:20.325%;
		width:18.699%;
		height:100%;
	}
	#el_39a862c7569f_2 { 
		top:0%;
		left:40.65%;
		width:18.699%;
		height:100%;
	}
	#el_39a862c7569f_3 { 
		top:0%;
		left:60.976%;
		width:18.699%;
		height:100%;
	}
}
